body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #333;
}

h1 {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #ffcc00;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select,
input[type="number"] {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #555;
    color: white;
}

select:hover,
input[type="number"]:hover {
    background-color: #666;
}

.odds {
    width: 25%;
    text-align: center;
    font-size: 18px;
    color: #ffcc00;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
}

select:focus,
input[type="number"]:focus {
    border-color: #ffcc00;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #555;
    color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #444;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.7);
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #444;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result h2 {
    margin: 0 0 10px 0;
    color: #ffcc00;
}

.result div {
    font-size: 18px;
    color: white;
}

.discord-link {
    text-align: center;
    margin-top: 20px;
}

.discord-link a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.discord-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}
